<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lizw.springboot.mapper.BusinessesMapper" >

    <delete id="businessesDeleteMapper" parameterType="java.lang.String" >
        DELETE FROM business WHERE id = #{id}
    </delete>
    
    <update id="businessesUpdateMapper" parameterType="lizw.springboot.entity.BusinessesEntity" >
        UPDATE business 
        <set>
            <if test="imgFileName != null">
                img_file_name=#{imgFileName},
            </if>
            <if test="title != null">   
	            title=#{title},
	        </if>
	        <if test="subtitle != null">
	            subtitle=#{subtitle},
	        </if>
	        <if test="price != null">
	            price=#{price},
	        </if>
	        <if test="distance != null">
	            distance=#{distance},
	        </if>
	        <if test="number != null">
	            number=#{number},
	        </if>
	        <if test="desc != null">
	            description=#{desc},
	        </if>
	        <if test="city != null">
	            city=#{city},
	        </if>
	        <if test="category != null">
	            category=#{category},
	        </if>
	        <if test="starTotalNum != null">
	            star_total_num=#{starTotalNum},
	        </if>
	        <if test="commentTotalNum != null">
	            comment_total_num=#{commentTotalNum}
	        </if>
	    </set>
        WHERE id=#{id}
    </update>
    
    <insert id="businessesInsertMapper" parameterType="lizw.springboot.entity.BusinessesEntity">
        INSERT INTO business(
           img_file_name,
           title,
           subtitle,
           price,
           distance,
           number,
           description,
           city,
           category,
           star_total_num,
           comment_total_num)
        VALUES(
           #{imgFileName},
           #{title},
           #{subtitle},
           #{price},
           #{distance},
           #{number},
           #{desc},
           #{city},
           #{category},
           #{starTotalNum},
           #{commentTotalNum})
    </insert>
    
    <select id="businessesSelectMapper" parameterType="java.lang.String" resultType="java.util.Map">
        SELECT * FROM business
        <where>
          <if test=" _parameter != null and _parameter.length()>0 " >AND id = #{_parameter}</if>
        </where>
    </select>
</mapper>