<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lizw.springboot.mapper.TracerouteMapper" >
    
    <select id="selectCity" parameterType="java.lang.String" resultType="java.util.Map">
        SELECT A_province,A_city,A_operator,A_lon,A_lat,B_province,B_operator,B_city,B_lon,B_lat,flag,count_hop
		FROM ${date} 
        WHERE A_city != B_city
        GROUP BY A_city,B_city
    </select>
    
    <select id="selectProvince" parameterType="java.lang.String" resultType="java.util.Map">
        SELECT A_province,A_city,A_operator,A_lon,A_lat,B_province,B_operator,B_city,B_lon,B_lat,flag,count_hop
        FROM ${date} 
        WHERE A_province != B_province 
        GROUP BY A_city,B_city
    </select>

    <select id="selectOneIP" parameterType="java.lang.String" resultType="java.util.Map">
        SELECT * 
		FROM ${date} 
		WHERE hop_count =0 AND hop_sign in (SELECT hop_sign 
											FROM ${date} 
											WHERE hop_count =0 
											AND B_ip = #{ip})
    </select>
    
    <select id="selectTwoIP" fetchSize="-2147483648" parameterType="java.lang.String" resultType="java.util.Map">
        SELECT F_ip,F_province,F_operator,L_ip,L_province,L_operator,hop,A_ip,A_province,A_city,A_operator,B_ip,B_country,B_province,B_city,B_operator,hop_time 
        FROM ${date} 
        WHERE  hop_count =0 AND hop_sign in (SELECT hop_sign 
                                             FROM ${date} 
                                             WHERE hop_count =0 
                                             AND A_ip=#{ip_A} 
                                             AND B_ip=#{ip_B})
    </select>
    
    <select id="selectTwoIPFast" parameterType="java.lang.String" resultType="java.util.Map">
        SELECT F_ip,F_province,F_operator,L_ip,L_province,L_operator,hop,A_ip,A_province,A_city,A_operator,B_ip,B_province,B_city,B_operator,hop_time 
        FROM ${date} 
        WHERE id &lt;= #{last} AND id &gt; #{first} AND hop_count =0 AND hop_sign in (SELECT hop_sign 
		                                                                              FROM ${date} 
		                                                                              WHERE id &lt;= #{last} 
		                                                                              AND id &gt; #{first} 
		                                                                              AND hop_count =0 
		                                                                              AND A_ip=#{ip_A} AND B_ip=#{ip_B})
    </select>

    
</mapper>